<div class="widget-loader" *ngIf="loadingWidget">
  <div class="bar"></div>
  <div class="bar"></div>
  <div class="bar"></div>
  <div class="bar"></div>
  <div class="bar"></div>
  <div class="bar"></div>
  <div class="bar"></div>
  <div class="bar"></div>
</div>

<div *ngIf="!loadingWidget">
  <app-settings *ngIf="widget.editMode"
                [settingsContent]="settingsContent"
                (settingsResult)="settingsEvent($event)"
  ></app-settings>
</div>

<div
  class="widget-wrapper"
  *ngIf="!loadingWidget"
  [ngClass]="{'edit-mode': widget.editMode}"
  [ngStyle]="{background: widget.style.colors.background}"
  (window:resize)="onResize($event)"
>
  <div class="widget-item wi-topbar"
       [ngStyle]="{borderColor: lightenDarkenColor(widget.style.colors.background, -50)}"
  >
    <div class="title">
      <div class="shield"
           [ngStyle]="{backgroundColor: widget.style.colors.active_item, borderColor: widget.style.colors.active_accent}"
      ></div>
      <div class="name"
           [ngStyle]="{color: widget.style.colors.text}"
      >
        {{widget.producer.artistName}}
      </div>
    </div>
    <div class="social">
      <div class="link soundcloud" *ngIf="widget.socials.soundcloud">
        <a href="{{widget.socials.soundcloud}}" target="_blank"><img src="../../../assets/icons/soundcloud.svg" alt="soundcloud"></a>
      </div>
      <div class="link youtube" *ngIf="widget.socials.youtube">
        <a href="{{widget.socials.youtube}}" target="_blank"><img src="../../../assets/icons/youtube.svg" alt="youtube"></a>
      </div>
      <div class="link twitter" *ngIf="widget.socials.twitter">
        <a href="{{widget.socials.twitter}}" target="_blank"><img src="../../../assets/icons/twitter.svg" alt="twitter"></a>
      </div>
      <div class="link instagram" *ngIf="widget.socials.instagram">
        <a href="{{widget.socials.instagram}}" target="_blank"><img src="../../../assets/icons/instagram.svg" alt="instagram"></a>
      </div>
    </div>
  </div>

  <div class="widget-item wi-screen"
       [ngStyle]="{backgroundColor: lightenDarkenColor(widget.style.colors.background, -50)}"
  >
    <div class="screen">
      <div class="banner" [ngStyle]="{'background-image':'url(' + SDN_LINK_IMG + '' + playerTracklbImage + ')'}"></div>
      <canvas #waves></canvas>
    </div>
  </div>

  <div class="widget-item wi-search"
       [formGroup]="filterBy"
       [ngStyle]="{borderColor: lightenDarkenColor(widget.style.colors.background, -50)}"
  >
    <div class="inp"
         [ngClass]="{'focused': searchFocused}"
         [ngStyle]="{backgroundColor: lightenDarkenColor(widget.style.colors.background, -50)}"
    >
      <div class="placeholder"
           [ngStyle]="{color: lightenDarkenColor(widget.style.colors.text, 50)}"
      >
        Start type the track name
      </div>
      <div class="icon-search" [ngStyle]="{backgroundColor: widget.style.colors.text}"></div>
      <input type="text"
             (keyup)="searchTrack()"
             (focus)="searchFocus('in')"
             (focusout)="searchFocus('out')"
             formControlName="filterByTrackName"
             [ngStyle]="{color: widget.style.colors.text}"
      >
      <div class="inp-clear" (click)="searchClear()">
        <span [ngStyle]="{backgroundColor: widget.style.colors.text}"></span>
        <span [ngStyle]="{backgroundColor: widget.style.colors.text}"></span>
      </div>
    </div>
  </div>

  <div class="widget-item wi-player-list">
    <div class="empty-state"
         *ngIf="!widget.tracks || widget.tracks.length === 0"
         [ngStyle]="{color: widget.style.colors.text}"
    >
      No tracks found.
    </div>
    <div class="track"
         *ngFor="let track of widget.tracks; index as indexTrack"
         [ngStyle]="{
         color: track.active ? widget.style.colors.active_item : widget.style.colors.text
         }"
         [ngClass]="{'active': track.active}"
         (mouseenter)="trackHover($event, track, indexTrack)"
         (mouseleave)="trackLeave($event, track, indexTrack)"
    >
      <div class="click-area" (click)="trackPlay($event, track, indexTrack)"></div>
      <div class="container"
           [ngStyle]="{
           backgroundColor: (track.active || track.hovered) ? lightenDarkenColor(widget.style.colors.background, -50) : 'transparent'
           }"
      >
        <div class="track-info" (click)="trackPlay($event, track, indexTrack)">
          <div class="track-cover">
            <img [src]="SDN_LINK_IMG + '/48x48/' + track.image" alt="">
            <div class="fade" *ngIf="track.play || track.hovered"></div>
            <div class="play-pause" *ngIf="track.hovered" [ngClass]="{'pause': track.play}">
              <span
                class="triangle left"
              ></span>
              <span
                class="triangle right"
              ></span>
            </div>
            <div class="bars" *ngIf="track.play && !track.hovered">
              <div class="bar"></div>
              <div class="bar"></div>
              <div class="bar"></div>
              <div class="bar"></div>
              <div class="bar"></div>
            </div>
          </div>
          <div class="track-text"
               [ngStyle]="{'width.px': windowWidth - (
               (windowWidth > breakPoint) ?
               ((track.active) ? 350 : 165) :
               ((track.active || track.hovered || track.inCart) ? 165 : 100)
               )}"
          >
            <div class="track-title" [ngClass]="{'bp600': windowWidth <= breakPoint}">
              <span class="scroller">
                <span class="track-number" *ngIf="windowWidth > breakPoint">{{indexTrack + 1}}. </span>
                <span class="track-artist-name" *ngIf="windowWidth > breakPoint">{{widget.producer.artistName}}</span>
                <span class="track-dash" *ngIf="windowWidth > breakPoint"> - </span>
                <span class="track-name">{{track.name}}</span>
              </span>
            </div>
            <div class="track-tags" *ngIf="track.tagsArr[0] !== ''">
              <div class="tag"
                   [ngStyle]="{
                   color: widget.style.colors.text,
                   backgroundColor: lightenDarkenColor(widget.style.colors.background, -25)
                   }"
                   *ngFor="let tag of track.tagsArr"
              >
                {{tag}}
              </div>
            </div>
            <div class="track-shadow"
                 [ngStyle]="{
                 background: (track.active || track.hovered) ?
                 'linear-gradient(90deg, ' + hexToRGB(lightenDarkenColor(widget.style.colors.background, -50), 0.1) + ' 0%, ' + lightenDarkenColor(widget.style.colors.background, -50) + ' 50%)' :
                 'transparent'
                 }"
            >
            </div>
          </div>
        </div>
        <div class="controls">
          <div class="rights-carousel" *ngIf="track.active">
            <div class="rc-control prev"
                 *ngIf="track.sliderData.length !== 1"
                 (click)="carouselSlide(track, indexTrack, 'prev')"
                 (mouseover)="hoverOnRcPrev = true" (mouseleave)="hoverOnRcPrev = false"
                 [ngStyle]="{backgroundColor: hoverOnRcPrev === true  ? widget.style.colors.background : 'transparent' }"
            >
              <div class="icon"
                   [ngStyle]="{
                   backgroundColor: widget.style.colors.text
                   }"
              >
              </div>
            </div>
            <div class="rc-rights">
              <div class="right"
                   *ngFor="let right of track.sliderData ; index as indexRight"
                   [ngClass]="{
                   'prev': right.style === 'prev',
                   'next': right.style === 'next',
                   'initial': right.style === 'initial'
                   }"
                   [ngStyle]="{
                   color: widget.style.colors.text
                   }"
              >
                {{right.right}}<span class="val"> ${{right.price}}</span>
              </div>
            </div>
            <div class="rc-control next"
                 *ngIf="track.sliderData.length !== 1"
                 (click)="carouselSlide(track, indexTrack, 'next')"
                 (mouseover)="hoverOnRcNext = true" (mouseleave)="hoverOnRcNext = false"
                 [ngStyle]="{backgroundColor: hoverOnRcNext === true  ? widget.style.colors.background : 'transparent' }"
            >
              <div class="icon"
                   [ngStyle]="{
                   backgroundColor: widget.style.colors.text
                   }"
              >
              </div>
            </div>
          </div>
          <div class="icon-cart-wrapper add"
               *ngIf="(track.active || track.hovered) && !track.inCart"
               (click)="trackAddToCart($event, track, indexTrack)"
          >
            <div class="icon-cart"
                 [ngStyle]="{
               backgroundColor: widget.style.colors.text
               }"
            >
            </div>
            <span class="tip"
                  [ngStyle]="{
                  backgroundColor: widget.style.colors.active_item,
                  'box-shadow': '0 0 0 2px ' + lightenDarkenColor(widget.style.colors.background, -50)
                  }"
            >
              <span class="line"
                    [ngStyle]="{
                    backgroundColor: lightenDarkenColor(widget.style.colors.background, -50)
                    }"
              >
              </span>
              <span class="line"
                    [ngStyle]="{
                    backgroundColor: lightenDarkenColor(widget.style.colors.background, -50)
                    }"
              >
              </span>
            </span>
          </div>
          <div class="icon-cart-wrapper added"
               *ngIf="track.inCart"
               (click)="cartOpen()"
          >
            <div class="icon-cart"
                 [ngStyle]="{
               backgroundColor: widget.style.colors.text
               }"
            >
            </div>
            <span class="tip"
                  [ngStyle]="{
                  backgroundColor: widget.style.colors.active_item,
                  'box-shadow': (track.active || track.hovered) ? '0 0 0 2px ' + lightenDarkenColor(widget.style.colors.background, -50) : '0 0 0 2px ' + widget.style.colors.background
                  }"
            >
              <div class="icon"
                   [ngStyle]="{
                   backgroundColor: (track.active || track.hovered) ? lightenDarkenColor(widget.style.colors.background, -50) : widget.style.colors.background
                   }"
              >
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="widget-item wi-player-bottom"
       [ngStyle]="{borderColor: lightenDarkenColor(widget.style.colors.background, -50)}"
  >
    <div class="progress"
         (mousemove)="trackProgressClicked($event)"
         (mousedown)="trackProgressClicked($event)"
         (mouseup)="trackProgressClicked($event)"
    >
      <div class="timing"
           *ngIf="windowWidth <= breakPoint"
           [ngStyle]="{color: widget.style.colors.text}"
      >
        <div class="curtime">{{playerProgressMS}}</div>
        <div class="alltime">{{playerDurationMS}}</div>
      </div>
      <div class="bar"
           [ngStyle]="{backgroundColor: lightenDarkenColor(widget.style.colors.background, -50)}"
      >
        <div class="active-area"
             [ngStyle]="{'width.%': playerProgressPercent, backgroundColor: widget.style.colors.active_item}"
        >
          <div class="dot"
               *ngIf="playerProgressPercent"
               [ngStyle]="{
               borderColor: widget.style.colors.active_item,
               backgroundColor: widget.style.colors.background
               }"
          ></div>
        </div>
      </div>
    </div>
    <div class="block-music">
      <div class="controller">
        <div class="ctrls">
          <div class="ctrl prev"
               (click)="trackToggle('prev')"
               (mouseover)="hoverOnPrev = true"
               (mouseleave)="hoverOnPrev = false"
          >
            <span class="line"
                  [ngStyle]="{backgroundColor: hoverOnPrev === true  ? widget.style.colors.active_item : lightenDarkenColor(widget.style.colors.active_item, 85)}"
            >
            </span>
            <span class="triangle"
                  [ngStyle]="{borderRightColor: hoverOnPrev === true  ? widget.style.colors.active_item : lightenDarkenColor(widget.style.colors.active_item, 85)}"
            >
            </span>
          </div>
          <div
            class="ctrl play"
            (click)="trackPlay()"
            [ngClass]="{'pause': playerPlay}"
          >
            <span
              class="triangle left"
              [ngStyle]="{borderLeftColor: widget.style.colors.active_item}"
            >
            </span>
            <span
              class="triangle right"
              [ngStyle]="{borderLeftColor: widget.style.colors.active_item}"
            >
            </span>
          </div>
          <div class="ctrl next"
               (click)="trackToggle('next')"
               (mouseover)="hoverOnNext = true"
               (mouseleave)="hoverOnNext = false"
          >
            <span class="triangle"
                  [ngStyle]="{borderLeftColor: hoverOnNext === true  ? widget.style.colors.active_item : lightenDarkenColor(widget.style.colors.active_item, 85)}"
            ></span>
            <span class="line"
                  [ngStyle]="{backgroundColor: hoverOnNext === true  ? widget.style.colors.active_item : lightenDarkenColor(widget.style.colors.active_item, 85)}"
            ></span>
          </div>
        </div>
        <div class="volume">
          <div class="volume-icon reduce" [ngStyle]="{backgroundColor: widget.style.colors.active_item}"></div>
          <div class="click-area"
               #volumeMobile
               (mousemove)="trackVolumeClick($event)"
               (mousedown)="trackVolumeClick($event)"
               (mouseup)="trackVolumeClick($event)"
          >
            <div class="volume-slider"
                 [ngStyle]="{backgroundColor: lightenDarkenColor(widget.style.colors.background, -50)}"
            >
              <div class="volume-level"
                   [ngStyle]="{'width.%': playerVolumePercent, backgroundColor: widget.style.colors.active_item}"
              >
                <div class="dot"
                     [ngStyle]="{
                     borderColor: widget.style.colors.active_item,
                     backgroundColor: widget.style.colors.background
                     }"
                ></div>
              </div>
            </div>
          </div>
          <div class="volume-icon increase" [ngStyle]="{backgroundColor: widget.style.colors.active_item}"></div>
        </div>
      </div>
      <div class="title"
           [ngStyle]="{'width.px': windowWidth > breakPoint ? windowWidth - 455 : windowWidth - 40}"
      >
        <div class="track-name" #trackNameContainer [ngStyle]="{color: widget.style.colors.text}">
          <span #trackNameContent>
          {{playerActiveTrackIndex + 1}}. {{widget.producer.artistName}} -
          {{playerTrackName}}
          </span>
        </div>
        <div class="tags"
             *ngIf="playerTrackTags"
        >
          <div
            class="tag"
            [ngStyle]="{
            color: widget.style.colors.text,
            backgroundColor: lightenDarkenColor(widget.style.colors.background, -25)
            }"
            *ngFor="let tag of playerTrackTags"
          >
            {{tag}}
          </div>
        </div>
        <div class="track-shadow"
             [ngStyle]="{background: 'linear-gradient(90deg, ' + hexToRGB(widget.style.colors.background, 0.1) + ' 0%, ' + hexToRGB(widget.style.colors.background, 1) + ' 50%)'}"
        >
      </div>
      </div>
    </div>
    <div class="block-money">
      <div class="timing-and-types">
        <div class="timing"
             [ngStyle]="{color: widget.style.colors.text}"
        >
          <div class="curtime"
               [ngStyle]="{borderColor: widget.style.colors.text}"
          >
            {{playerProgressMS}}
          </div>
          <div class="alltime">{{playerDurationMS}}</div>
        </div>
        <div class="volume">
          <div class="volume-icon reduce" [ngStyle]="{backgroundColor: widget.style.colors.active_item}"></div>
          <div class="click-area"
               #volumeDesktop
               (mousemove)="trackVolumeClick($event)"
               (mousedown)="trackVolumeClick($event)"
               (mouseup)="trackVolumeClick($event)"
          >
            <div class="volume-slider"
                 [ngStyle]="{backgroundColor: lightenDarkenColor(widget.style.colors.background, -50)}"
            >
              <div class="volume-level"
                   [ngStyle]="{'width.%': playerVolumePercent, backgroundColor: widget.style.colors.active_item}"
              >
                <div class="dot"
                     [ngStyle]="{
                     borderColor: widget.style.colors.active_item,
                     backgroundColor: widget.style.colors.background
                     }"
                ></div>
              </div>
            </div>
          </div>
          <div class="volume-icon increase" [ngStyle]="{backgroundColor: widget.style.colors.active_item}"></div>
        </div>
      </div>
      <div class="btn-cart-and-price"
           (click)="cartOpen()"
           (mouseover)="hoverOnCart = true"
           (mouseleave)="hoverOnCart = false"
           [ngStyle]="{backgroundColor: lightenDarkenColor(widget.style.colors.background, -50)}"

      >
        <div class="price"
             [ngStyle]="{color: hoverOnCart === true  ? widget.style.colors.active_item :  widget.style.colors.text}"
        >
          <span class="val">${{widget.cart.totalCost}}</span>
        </div>
        <div class="icon-cart-wrapper">
          <div class="icon-cart"
               [ngStyle]="{
               backgroundColor: widget.style.colors.text
               }"
          >
          </div>
          <span class="count"
                *ngIf="widget.cart.cartItems.length > 0"
                [ngStyle]="{
                  color: lightenDarkenColor(widget.style.colors.background, -50),
                  backgroundColor: hoverOnCart === true  ? widget.style.colors.active_item : widget.style.colors.text,
                  'box-shadow': hoverOnCart === true  ? '0 0 0 2px' + lightenDarkenColor(widget.style.colors.background, -50) : '0 0 0 2px ' + lightenDarkenColor(widget.style.colors.background, -50)
                }"
          >
            {{widget.cart.cartItems.length}}
          </span>
        </div>
      </div>
    </div>
  </div>

  <app-modal
    *ngIf="modalOpen"
    [modalContent]="modalContent"
    (modalResult)="modalEvent($event)"
  ></app-modal>
</div>
