@import "../../../../assets/styles/colors";

.widget-loader {
  position: absolute;
  height: 30px;
  width: 100px;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -50px;
  .bar {
    position: absolute;
    background: $gray-background-basic;
    bottom: 1px;
    width: 10px;
    animation: sound 0ms -800ms linear infinite alternate;
  }
  @keyframes sound {
    0% {
      opacity: .35;
      height: 3px;
    }
    100% {
      opacity: 1;
      height: 100%;
    }
  }
  .bar:nth-child(1)  { left: 1px; animation-duration: 474ms; }
  .bar:nth-child(2)  { left: 12px; animation-duration: 433ms; }
  .bar:nth-child(3)  { left: 25px; animation-duration: 407ms; }
  .bar:nth-child(4)  { left: 36px; animation-duration: 458ms; }
  .bar:nth-child(5)  { left: 47px; animation-duration: 400ms; }
  .bar:nth-child(6)  { left: 58px; animation-duration: 427ms; }
  .bar:nth-child(7)  { left: 69px; animation-duration: 441ms; }
  .bar:nth-child(8)  { left: 80px; animation-duration: 419ms; }
  .bar:nth-child(9)  { left: 91px; animation-duration: 487ms; }
  .bar:nth-child(10) { left: 102px; animation-duration: 442ms; }
}

.widget-wrapper {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  min-width: 240px;
  width: 100%;
  height: 100%;

  &.edit-mode {
    margin-top: 10px;
    border: 1px solid #E6E6E6;
  }

  .widget-item {
    position: relative;
    width: 100%;
    &.wi-topbar {
      height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 14px;
      border-bottom: 1px solid #E6E6E6;
      .title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .shield {
          height: 19px;
          width: 5px;
          border-bottom: 5px solid;
        }
        .name {
          margin-left: 7px;
          text-transform: uppercase;
          font: 600 18px/20px 'Work Sans';
          color: #000000;
        }
      }
      .social {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .link {
          cursor: pointer;
          margin-left: 20px;
          a {
            display: block;
            width: 100%;
            height: 100%;
            img {
              display: block;
              width: 100%;
              height: 100%;
            }
          }
          &.soundcloud {
            width: auto;
            height: 20px;
          }
          &.youtube {
            width: auto;
            height: 20px;
          }
          &.twitter {
            width: auto;
            height: 20px;
          }
          &.instagram {
            width: 20px;
            height: 20px;
          }
        }
      }
    }

    &.wi-screen {
      flex: 1;
      max-height: 30%;
      .screen {
        position: relative;
        height: 100%;
        background-color: $gray-background-basic;
        background-image: url('../../../../assets/icons/traktrain_logo.png');
        background-size: 10%;
        background-position: 50% 50%;
        .banner {
          height: 100%;
          background-size: cover;
          background-position: 50% 50%;
        }
        .waves {
          position: absolute;
          display: flex;
          align-items: flex-end;
          justify-content: space-around;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          .wave-line {
            position: absolute;
            max-width: calc(100% / 128);
            bottom: 0;
            opacity: 1;
            background: linear-gradient(to top,#fff 0,#fff 50%,rgba(255,255,255,.9) 51%,rgba(255,255,255,.3) 71%,rgba(255,255,255,.3) 100%);
          }
        }
      }
    }

    &.wi-search {
      padding: 15px 19px 15px 15px;
      border-bottom: 1px solid #E6E6E6;
      .inp {
        position: relative;
        width: 100%;
        height: 40px;
        border-radius: 3px;
        transition: all .2s ease;
        input {
          position: relative;
          width: 100%;
          height: 100%;
          padding: 5px 45px 5px 15px;
          font: 500 14px/16px 'Work Sans';
          border-radius: inherit;
          background: transparent;
          border: none;
          outline: none;
        }
        .placeholder {
          position: absolute;
          left: 10px;
          top: 50%;
          margin-top: -8px;
          padding: 0 5px;
          font: 400 14px/16px 'Arial';
          color: $gray-background-basic;
          transition: all .2s ease;
        }
        .inp-clear {
          display: none;
          cursor: pointer;
          position: absolute;
          width: 20px;
          height: 20px;
          right: 15px;
          top: 50%;
          margin-top: -10px;
          background-color: transparent;
          transition: all .2s ease;
          span {
            position: absolute;
            display: block;
            width: 12px;
            height: 2px;
            top: 50%;
            left: 50%;
            margin-top: -1px;
            margin-left: -6px;
            border-radius: 1px;
            background-color: $gray-background-basic;
            transform: rotate(45deg);
            &:first-child {
              transform: rotate(-45deg);
            }
          }
        }
        &:before {
          position: absolute;
          display: block;
          content: '';
          width: 22px;
          height: 22px;
          top: 50%;
          margin-top: -11px;
          right: 15px;
          background: url('../../../../assets/icons/search.svg') no-repeat;
        }
        &.focused {
          //.placeholder {
          //  top: -8px;
          //  left: 0;
          //  margin-top: 0;
          //  font-size: 12px;
          //}
          .placeholder {
            opacity: 0;
          }
          .inp-clear {
            display: block;
          }
          &:before {
            display: none;
          }
        }
      }
    }

    &.wi-player-list {
      flex: 1;
      padding: 2px 0;
      overflow-y: scroll;
      overflow-x: hidden;
      .empty-state {
        position: absolute;
        width: 100%;
        left: 0;
        top: 50%;
        margin-top: -11px;
        font: 400 20px/22px 'Work Sans';
        text-align: center;
      }
      .track {
        margin: 0 15px;
        position: relative;
        padding: 3px 0;
        .click-area {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: transparent;
          cursor: pointer;
        }
        .container {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 100%;
          border-radius: 5px;
          padding: 5px 15px 5px 5px;
          cursor: pointer;
          .track-info {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            .track-cover {
              position: relative;
              overflow: hidden;
              width: 48px;
              height: 48px;
              border-radius: 5px;
              background-color: rgba(105, 95, 252, .3);
              background-image: url('../../../../assets/icons/traktrain_logo.png');
              background-size: 75%;
              background-repeat: no-repeat;
              background-position: 50% 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              img {
                display: block;
                width: auto;
                height: 100%;
              }
              .fade {
                position: absolute;
                height: 100%;
                width: 100%;
                background-color: rgba(0,0,0, .75);
              }
              .play-pause {
                position: absolute;
                height: 30px;
                width: 30px;
                top: 50%;
                left: 50%;
                margin-top: -15px;
                margin-left: -15px;
                border: 2px solid #ffffff;
                border-radius: 50%;
                .triangle {
                  position: absolute;
                  display: block;
                  transition: all .2s ease;
                  &.left {
                    width: 8px;
                    height: 10px;
                    left: 10px;
                    top: 50%;
                    margin-top: -5px;
                    border-top: 5px solid transparent;
                    border-bottom: 5px solid transparent;
                    border-left: 8px solid #ffffff;
                  }
                  &.right {
                    transition: all .1s ease;
                    width: 8px;
                    height: 10px;
                    right: 8px;
                    top: 50%;
                    margin-top: -5px;
                    border-top: 5px solid transparent;
                    border-bottom: 5px solid transparent;
                    border-left: 8px solid #ffffff;
                  }
                }
                &.pause {
                  .triangle {
                    &.left {
                      border-top: 0 solid transparent;
                      border-bottom: 0 solid transparent;
                      border-left: 2px solid #ffffff;
                      left: 15px
                    }
                    &.right {
                      border-top: 0 solid transparent;
                      border-bottom: 0 solid transparent;
                      border-left: 2px solid #ffffff;
                      left: 10px
                    }
                  }
                }
              }
              .bars {
                position: absolute;
                height: 20px;
                width: 20px;
                top: 50%;
                left: 50%;
                margin-top: -10px;
                margin-left: -10px;
                .bar {
                  background: #ffffff;
                  bottom: 1px;
                  height: 3px;
                  position: absolute;
                  width: 3px;
                  animation: sound 0ms -800ms linear infinite alternate;
                }
                @keyframes sound {
                  0% {
                    opacity: .35;
                    height: 3px;
                  }
                  100% {
                    opacity: 1;
                    height: 20px;
                  }
                }
                .bar:nth-child(1)  { left: 1px; animation-duration: 474ms; }
                .bar:nth-child(2)  { left: 5px; animation-duration: 433ms; }
                .bar:nth-child(3)  { left: 9px; animation-duration: 407ms; }
                .bar:nth-child(4)  { left: 13px; animation-duration: 458ms; }
                .bar:nth-child(5)  { left: 17px; animation-duration: 400ms; }
                .bar:nth-child(6)  { left: 21px; animation-duration: 427ms; }
                .bar:nth-child(7)  { left: 25px; animation-duration: 441ms; }
                .bar:nth-child(8)  { left: 29px; animation-duration: 419ms; }
                .bar:nth-child(9)  { left: 33px; animation-duration: 487ms; }
                .bar:nth-child(10) { left: 37px; animation-duration: 442ms; }
              }
            }
            .track-text {
              position: relative;
              display: flex;
              justify-content: center;
              align-items: flex-start;
              flex-direction: column;
              margin-left: 15px;
              white-space: nowrap;
              overflow: hidden;
              .track-title {
                position: relative;
                span {
                  font: 600 14px/16px 'Work Sans';
                  &.scroller {
                    &.track-number {}
                    &.track-artist-name {}
                    &.track-dash {}
                    &.track-name {}
                  }
                }
              }
              .track-tags {
                .tag {
                  display: inline-block;
                  margin-right: 5px;
                  padding: 1px 5px;
                  background-color: #F5F5F5;
                  border-radius: 10px;
                  font: 500 10px/12px 'Arial';
                }
              }
              .track-shadow {
                position: absolute;
                width: 50px;
                height: 100%;
                top: 0;
                right: -20px;
              }
            }
          }
          .controls {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            .rights-carousel {
              display: flex;
              justify-content: center;
              align-items: center;
              .rc-control {
                overflow: hidden;
                cursor: pointer;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                transition: background-color 200ms ease-in-out;
                .icon {
                  width: 100%;
                  height: 100%;
                }
                &:hover {
                  background-color: $gray-background-basic;
                }
                &.prev {
                  .icon {
                    background: url('../../../../assets/icons/chevron-left.svg') no-repeat;
                    background-size: 100%;
                  }
                }
                &.next {
                  .icon {
                    background: url('../../../../assets/icons/chevron-right.svg') no-repeat;
                    background-size: 100%;
                  }
                }
              }
              .rc-rights {
                position: relative;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                transform-style: preserve-3d;
                .right {
                  z-index: 100;
                  opacity: 0;
                  position: absolute;
                  top:0;
                  width: 100%;
                  min-width: 140px;
                  margin: auto;
                  padding: 0 5px;
                  transition: transform .5s, opacity .5s, z-index .5s;
                  font: 500 12px/14px 'Arial';
                  color: #2E2E2E;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  .val {
                    display: block;
                    margin-left: 5px;
                    font: 600 14px/16px 'Work Sans';
                  }
                  &.initial, &.active{
                    opacity: 1;
                    position: relative;
                    z-index: 900;
                  }
                  &.prev, &.next {
                    z-index: 800;
                  }
                  &.prev {
                    transform: translateX(-100%);
                  }
                  &.next {
                    transform: translateX(100%);
                  }
                }
              }
            }
            .btn-cart {
              position: relative;
              margin-left: 20px;
              margin-top: 8px;
              width: 25px;
              height: 25px;
              background: url('../../../../assets/icons/shopping-cart.svg') no-repeat;
              background-size: 100%;
              background-position: 50% 50%;
              .tip {
                position: absolute;
                display: block;
                width: 16px;
                height: 16px;
                top: -6px;
                right: -2px;
                background-color: $gray-background-basic;
                border-radius: 50%;
                box-shadow: 0 0 0 2px #f5f5f5;
                .line {
                  position: absolute;
                  display: block;
                }
              }
              &.add {
                .tip {
                  .line {
                    width: 2px;
                    height: 10px;
                    background-color: #ffffff;
                    top: 50%;
                    left: 50%;
                    margin-left: -1px;
                    margin-top: -5px;
                    border-radius: 1px;
                    &:nth-child(2) {
                      transform: rotate(90deg);
                    }
                  }
                }
              }
              &.added {
                .tip {
                  background-color: rgb(70, 204, 54);
                  box-shadow: 0 0 0 2px #ffffff;
                  .line {
                    width: 2px;
                    height: 5px;
                    background-color: #ffffff;
                    top: 7px;
                    left: 5px;
                    transform: rotate(-45deg);
                    &:nth-child(2) {
                      height: 8px;
                      top: 4px;
                      left: 9px;
                      transform: rotate(45deg);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    &.wi-player-bottom {
      height: 76px;
      z-index: 9999;
      position: sticky;
      display: flex;
      justify-content: space-between;
      align-items: center;
      left: 0;
      top: 100%;
      border-top: 1px solid #E6E6E6;
      .progress {
        cursor: pointer;
        position: absolute;
        width: 100%;
        height: 20px;
        top: -11px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          .bar {
            .active-area {
              .dot {
                width: 10px;
                height: 10px;
                right: -5px;
                top: 50%;
                margin-top: -5px;
                border-width: 2px;
              }
            }
          }
        }
        .bar {
          position: relative;
          width: 100%;
          height: 1px;
          background-color: #e7e8ec;
          .active-area {
            position: absolute;
            height: 2px;
            background-color: $gray-background-basic;
            top: -1px;
            left: 0;
            .dot {
              position: absolute;
              pointer-events: none;
              width: 8px;
              height: 8px;
              right: -4px;
              top: 50%;
              margin-top: -4px;
              border: 2px solid $gray-background-basic;
              border-radius: 50%;
              background-color: #ffffff;
            }
          }
        }
      }
      .block-music {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex: 1;
        height: 100%;
        .controller {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          height: 100%;
          .ctrls {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 14px;
            .ctrl {
              cursor: pointer;
              &.prev, &.next {
                display: flex;
                justify-content: center;
                align-items: center;
                span {
                  display: block;
                  transition: all .2s ease;
                  &.line {
                    width: 3px;
                    height: 14px;
                    background-color: $gray-background-basic;
                  }
                  &.triangle {
                    width: 12px;
                    height: 16px;
                    margin-left: 2px;
                    border-top: 8px solid transparent;
                    border-bottom: 8px solid transparent;
                    border-right: 12px solid $gray-background-basic;
                  }
                }
              }
              &.next {
                span {
                  &.line {}
                  &.triangle {
                    margin-left: 0;
                    margin-right: 2px;
                    border-left: 12px solid $gray-background-basic;
                    border-right: 0;
                  }
                }
              }
              &.play {
                margin: 0 32px;
                position: relative;
                width: 22px;
                height: 30px;
                .triangle {
                  position: absolute;
                  display: block;
                  transition: all .2s ease;
                  &.left {
                    width: 20px;
                    height: 30px;
                    left: 0;
                    top: 50%;
                    margin-top: -15px;
                    border-top: 15px solid transparent;
                    border-bottom: 15px solid transparent;
                    border-left: 22px solid $gray-background-basic;
                  }
                  &.right {
                    transition: all .1s ease;
                    width: 6px;
                    height: 16px;
                    right: 0;
                    top: 50%;
                    margin-top: -8px;
                    border-top: 8px solid transparent;
                    border-bottom: 8px solid transparent;
                    border-left: 12px solid $gray-background-basic;
                  }
                }
                &.pause {
                  .triangle {
                    &.left {
                      border-top: 0 solid transparent;
                      border-bottom: 0 solid transparent;
                      border-left: 7px solid $gray-background-basic;
                    }
                    &.right {
                      height: 30px;
                      top: 0;
                      margin-top: 0;
                      border-top: 0 solid transparent;
                      border-bottom: 0 solid transparent;
                      border-left: 7px solid $gray-background-basic;
                    }
                  }
                }
              }
            }
          }
          .volume {
            display: none;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 100%;
            height: 20px;
            margin-top: 5px;
            .click-area {
              display: flex;
              justify-content: center;
              align-items: center;
              position: relative;
              cursor: pointer;
              width: 65%;
              height: 100%;
              .volume-slider {
                position: relative;
                width: 100%;
                height: 2px;
                background-color: #E6E6E6;
                border-radius: 2px;
                .volume-level {
                  position: absolute;
                  height: 100%;
                  width: 100%;
                  background-color: $gray-background-basic;
                  border-radius: 2px;
                  top: 0;
                  left: 0;
                  .dot {
                    position: absolute;
                    pointer-events: none;
                    width: 8px;
                    height: 8px;
                    right: -4px;
                    top: 50%;
                    margin-top: -4px;
                    border: 2px solid $gray-background-basic;
                    border-radius: 50%;
                    background-color: #ffffff;
                  }
                }
              }
              &:hover {
                .volume-slider {
                  .volume-level {
                    .dot {
                      width: 10px;
                      height: 10px;
                      right: -5px;
                      top: 50%;
                      margin-top: -5px;
                      border-width: 2px;
                    }
                  }
                }
              }
            }
            .volume-icon {
              position: absolute;
              display: block;
              content: '';
              width: 20px;
              height: 20px;
              top: 50%;
              margin-top: -10px;
              background-color: $gray-background-basic;
              mask-image: url('../../../../assets/icons/volume-down.svg');
              mask-size: cover;
              &.reduce {
                left: 20px;
                mask-image: url('../../../../assets/icons/volume-down.svg');
              }
              &.increase {
                right: 20px;
                mask-image: url('../../../../assets/icons/volume-up.svg');
              }
            }
          }
        }
        .title {
          position: relative;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          flex-direction: column;
          flex: 1;
          margin-left: 20px;
          white-space: nowrap;
          overflow: hidden;
          .track-shadow {
            position: absolute;
            width: 50px;
            height: 100%;
            top: 0;
            right: -10px;
          }
          .track-name {
            position: relative;
            white-space: nowrap;
            overflow: hidden;
            width: 100%;
            height: 16px;
            span {
              display: block;
              position: absolute;
              font: 500 14px/16px 'Work Sans';
            }
          }
          .tags {
            margin-top: 5px;
            .tag {
              display: inline-block;
              margin-right: 10px;
              padding: 3px 10px;
              background-color: #F5F5F5;
              border-radius: 10px;
              font: 500 12px/14px 'Arial';
            }
          }
        }
      }
      .block-money {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        margin-left: 20px;
        .timing-and-types {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin-right: 40px;
          .timing {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            font: 400 14px/16px 'Work Sans';
            text-align: center;
            color: $gray-background-basic;
            .curtime {
              width: 50%;
              border-right: 1px solid $gray-background-basic;
            }
            .alltime {
              width: 50%;
            }
          }
          .payment-types {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 5px;
            .pt {
              width: 20px;
              height: 20px;
              &.paypal {
                background: url('../../../../assets/icons/paypal.svg') no-repeat;
                background-size: cover;
                background-position: 50% 50%;
              }
              &.card {
                margin-left: 10px;
                background: url('../../../../assets/icons/credit-card.svg') no-repeat;
                background-size: cover;
                background-position: 50% 50%;
              }
            }
          }
          .volume {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 50px;
            height: 20px;
            margin-top: 5px;
            .click-area {
              display: flex;
              justify-content: center;
              align-items: center;
              position: relative;
              cursor: pointer;
              width: 100%;
              height: 100%;
              .volume-slider {
                position: relative;
                width: 100%;
                height: 2px;
                background-color: #E6E6E6;
                border-radius: 2px;
                .volume-level {
                  position: absolute;
                  height: 100%;
                  width: 100%;
                  background-color: $gray-background-basic;
                  border-radius: 2px;
                  top: 0;
                  left: 0;
                  .dot {
                    position: absolute;
                    pointer-events: none;
                    width: 8px;
                    height: 8px;
                    right: -4px;
                    top: 50%;
                    margin-top: -4px;
                    border: 2px solid $gray-background-basic;
                    border-radius: 50%;
                    background-color: #ffffff;
                  }
                }
              }
              &:hover {
                .volume-slider {
                  .volume-level {
                    .dot {
                      width: 10px;
                      height: 10px;
                      right: -5px;
                      top: 50%;
                      margin-top: -5px;
                      border-width: 2px;
                    }
                  }
                }
              }
            }
            .volume-icon {
              position: absolute;
              display: block;
              content: '';
              width: 14px;
              height: 14px;
              top: 50%;
              margin-top: -7px;
              background-color: $gray-background-basic;
              mask-size: cover;
              &.reduce {
                left: -20px;
                mask-image: url('../../../../assets/icons/volume-down.svg');
              }
              &.increase {
                right: -20px;
                mask-image: url('../../../../assets/icons/volume-up.svg');
              }
            }
          }
        }
        .btn-cart-and-price {
          cursor: pointer;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          background-color: $gray-background-basic;
          min-width: 120px;
          height: 100%;
          padding: 20px 15px 20px 20px;
          .price {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            flex-direction: column;
            height: 100%;
            font: 500 16px/18px 'Work Sans';
          }

          .icon-cart-wrapper {
            position: relative;
            margin-left: 10px;
            width: 25px;
            height: 25px;
            .icon-cart {
              width: 100%;
              height: 100%;
              mask-image: url('../../../../assets/icons/shopping-cart.svg');
              mask-size: cover;
            }
            .count {
              position: absolute;
              display: block;
              width: 16px;
              height: 16px;
              top: -6px;
              right: -2px;
              border-radius: 50%;
              font: 600 10px/16px 'Arial';
              text-align: center;
            }
          }

        }
      }
    }
  }
}

// iPad
@media (max-width: 768px) {
  .widget-wrapper {
    .widget-item {
      &.wi-screen {
        max-height: 260px;
      }
      &.wi-player-bottom {
        .block-music {
          .title {
            .track-name {
              span {
                //animation: 20s linear infinite slide;
              }
            }
          }
        }
      }
    }
  }
}
// extra-point
@media (max-width: 600px) {
  .widget-wrapper {
    .widget-item {
      &.wi-search {
        position: absolute;
        top: 65px;
        right: 15px;
        padding: 0;
        border: 0;
        width: auto;
        .inp {
          width: 40px;
          padding: 0;
          border: none;
          input {
            padding: 0;
          }
          .placeholder {
            display: none;
          }
          .inp-clear {
            span {
              background-color: #000000;
            }
          }
          &:before {
            right: 9px;
          }
          &.focused {
            width: 200px;
            input {
              padding: 5px 40px 5px 15px;
            }
          }
        }
      }
      &.wi-player-list {
        .track {
          .container {
            .track-info {
              .track-text {
                .track-title {
                  &.bp600 {
                    span {
                      &.track-name {
                        font: 600 12px/14px 'Work Sans';
                      }
                      &.track-artist-name {
                        margin-top: 5px;
                        font: 500 12px/14px 'Work Sans';
                      }
                    }
                  }
                }
              }
            }
            .controls {
              .rights-carousel {
                display: none;
              }
            }
          }
          &.active, &:hover {
            .container {
              .track-info {
                .track-text {
                  .track-title {
                    span {
                      &.scroller {
                        //position: absolute;
                        //animation: 5s linear infinite slide;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      &.wi-player-bottom {
        height: 150px;
        flex-direction: column;
        .progress {
          .timing {
            position: absolute;
            width: 100%;
            font: 400 12px/14px 'Work Sans';
            text-align: center;
            color: $gray-background-basic;
            .curtime {
              position: absolute;
              top: 45px;
              left: 20px;
            }
            .alltime {
              position: absolute;
              top: 45px;
              right: 20px;
            }
          }
          .bar {
            background-color: transparent;
          }
        }
        .block-money {
          width: 100%;
          height: 48px;
          margin: 0;
          .timing-and-types {
            display: none;
          }
          .btn-cart-and-price {
            justify-content: center;
            width: 100%;
          }
        }
        .block-music {
          flex: 1;
          flex-direction: column-reverse;
          justify-content: flex-end;
          width: 100%;
          .controller {
            width: 100%;
            .ctrls {
              padding: 0;
            }
            .volume {
              display: flex;
            }
          }
          .title {
            flex: none;
            text-align: center;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin: 10px 0 0;
            .track-name {
              width: 100%;
              font-size: 16px;
              margin: 0;
              span {
                width: 100%;
                text-align: center;
              }
            }
            .tags {
              display: none;
            }
          }
        }
      }
    }
  }
}
// iPhone 6/7/8 PLUS
@media (max-width: 414px) {
  .widget-wrapper {
    .widget-item {
      &.wi-screen {
        max-height: 160px;
      }
      &.wi-player-list {
        .track {
          .container {
            .track-info {
              .track-text {
                .track-title {
                  &.bp600 {
                    span {
                      &.track-name {
                        font: 600 12px/14px 'Work Sans';
                      }
                      &.track-artist-name {
                        margin-top: 5px;
                        font: 500 12px/14px 'Work Sans';
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
// iPhone 6/7/8
@media (max-width: 375px) {
  .widget-wrapper {
    .widget-item {
      &.wi-screen {
        max-height: 120px;
      }
      &.wi-player-list {
        .track {
          .container {
            .track-info {
              .track-text {
                .track-title {
                  &.bp600 {
                    span {
                      &.track-name {
                        font: 600 12px/14px 'Work Sans';
                      }
                      &.track-artist-name {
                        margin-top: 5px;
                        font: 500 12px/14px 'Work Sans';
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
// iPhone 4
@media (max-width: 320px) {
  .widget-wrapper {
    .widget-item {
      &.wi-screen {
        max-height: 100px;
      }
      &.wi-player-list {
        .track {
          .container {
            .track-info {
              .track-text {
                .track-title {
                  &.bp600 {
                    span {
                      &.track-name {
                        font: 600 12px/14px 'Work Sans';
                      }
                      &.track-artist-name {
                        margin-top: 5px;
                        font: 500 12px/14px 'Work Sans';
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

//@keyframes slide {
//  0% {
//    left: 5%;
//  }
//  50% {
//    left: -50%
//  }
//  100% {
//    left: 5%;
//  }
//}
