<div
  *ngIf="widget"
  class="widget-wrapper"
  (window:resize)="onResize($event)"
>
  <div class="widget-item wi-topbar">
    <div class="title">
      <div class="shield" [ngStyle]="{background: widget.style.colors.active_item, borderColor: widget.style.colors.active_accent}"></div>
      <div class="name">{{widget.producer.artistName}}</div>
    </div>
    <div class="social">
      <div class="link instagram">
        <a href="{{widget.socials.instagram}}" target="_blank"><img src="../../../assets/icons/instagram.svg" alt="instagram"></a>
      </div>
    </div>
  </div>

  <div class="widget-item wi-screen">
    <div class="screen">
      <div class="banner" [ngStyle]="{'background-image':'url(' + SDN_LINK_IMG + '' + playerTracklbImage + ')'}"></div>
    </div>
  </div>

  <div class="widget-item wi-search">
    <input type="search">
  </div>

  <div class="widget-item wi-player-list">
    <div
      class="track"
      *ngFor="let track of widget.tracks; index as indexTrack"
      [ngStyle]="{color: widget.style.colors.text}"
      [ngClass]="{'active': track.active}"
      (mouseenter)="trackHover($event, track, indexTrack)"
      (mouseleave)="trackLeave($event, track, indexTrack)"
    >
      <div class="click-area" (click)="trackPlay($event, track, indexTrack)"></div>
      <div class="container">
        <div class="track-title" (click)="trackPlay($event, track, indexTrack)">
          <div class="cover">
            <img [src]="SDN_LINK_IMG + track.lbImage" alt="">
            <div class="fade" *ngIf="track.play || track.hovered"></div>
            <div class="play" *ngIf="!track.play && track.hovered"></div>
            <div class="bars" *ngIf="track.play">
              <div class="bar"></div>
              <div class="bar"></div>
              <div class="bar"></div>
              <div class="bar"></div>
              <div class="bar"></div>
            </div>
          </div>
          <div class="title">{{indexTrack + 1}}. {{widget.producer.artistName}} - {{track.name}}</div>
        </div>
        <div class="controls">
          <div class="rights-carousel" *ngIf="track.active">
            <div
              class="rc-control prev"
              *ngIf="track.sliderData.length !== 1"
              (click)="carouselSlide(track, indexTrack, 'prev')"
            >
              <div class="icon"></div>
            </div>
            <div class="rc-rights">
              <div
                class="right"
                *ngFor="let right of track.sliderData ; index as indexRight"
                [ngClass]="{'prev': right.style === 'prev', 'next': right.style === 'next', 'initial': right.style === 'initial'}"
              >
                {{right.right}}<span class="val"> ${{right.price}}</span>
              </div>
            </div>
            <div
              class="rc-control next"
              *ngIf="track.sliderData.length !== 1"
              (click)="carouselSlide(track, indexTrack, 'next')"
            >
              <div class="icon"></div>
            </div>
          </div>

          <div class="btn-cart-add"
               *ngIf="track.active || track.hovered"
               (click)="trackAddToCart($event, track, indexTrack)"
          >
            <span class="add"><span class="line"></span><span class="line"></span></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="widget-item wi-player-bottom">
    <div class="progress" (click)="trackProgressClicked($event)">
      <div class="bar">
        <div class="active-area" [ngStyle]="{'width.%': playerProgressPercent}">
          <div class="dot" *ngIf="playerProgressPercent"></div>
        </div>
      </div>
    </div>
    <div class="block-music">
      <div class="ctrls">
        <div class="ctrl prev" (click)="trackToggle('prev')">
          <span class="line"></span>
          <span class="triangle"></span>
        </div>
        <div
          class="ctrl play"
          (click)="trackPlay()"
          [ngClass]="{'pause': playerPlay}"
        >
          <span
            class="triangle left"
            [ngStyle]="{borderLeftColor: widget.style.colors.active_item}"
          ></span>
          <span
            class="triangle right"
            [ngStyle]="{borderLeftColor: widget.style.colors.active_item}"
          ></span>
        </div>
        <div class="ctrl next" (click)="trackToggle('next')">
          <span class="triangle"></span>
          <span class="line"></span>
        </div>
      </div>
      <div class="title">
        <div class="track-name" [ngStyle]="{color: widget.style.colors.text}">{{playerActiveTrackIndex + 1}}. {{widget.producer.artistName}} - {{playerTrackName}}</div>
        <div class="tags" *ngIf="widget.tracks[playerActiveTrackIndex].tagsArr[0] !== ''">
          <div
            class="tag"
            [ngStyle]="{color: widget.style.colors.active_item}"
            *ngFor="let tag of widget.tracks[playerActiveTrackIndex].tagsArr"
          >
            {{tag}}
          </div>
        </div>
      </div>
      <div class="timing">
        <div class="curtime">{{playerProgressMS}}</div>
        <div class="alltime">{{playerDurationMS}}</div>
      </div>
    </div>
    <div class="block-money">
      <div class="payment-types">
        <div class="pt paypal"></div>
        <div class="pt card"></div>
      </div>
      <div class="btn-cart-and-price">
        <div class="price" [ngStyle]="{color: widget.style.colors.text}">
          <span class="val">${{widget.cart.totalCost}}</span>
        </div>
        <div class="icon-cart"><span class="count">2</span></div>
      </div>
    </div>
  </div>
</div>

<div class="modals">
  <app-modal
    *ngIf="modalOpen"
    [modalContent]="modalContent"
    (modalResult)="modalEvent($event)"
  ></app-modal>
</div>
