<div
  *ngIf="widget"
  class="widget-wrapper"
  (window:resize)="onResize($event)"
>
  <div class="widget-item wi-topbar">
    <div class="title">
      <div class="shield" [ngStyle]="{background: widget.style.colors.active_item, borderColor: widget.style.colors.active_accent}"></div>
      <div class="name">{{widget.producer.artistName}}</div>
    </div>
    <div class="social">
      <div class="link instagram">
        <a href="{{widget.socials.instagram}}" target="_blank"><img src="../../../assets/icons/instagram.svg" alt="instagram"></a>
      </div>
    </div>
  </div>

  <div class="widget-item wi-screen">
    <div class="screen">
      <div class="banner" [ngStyle]="{'background-image':'url(' + SDN_LINK_IMG + '' + widget.producer.lbImage + ')'}"></div>
    </div>
  </div>

  <div class="widget-item wi-search">
    <input type="search">
  </div>

  <div class="widget-item wi-player-list">
    <div
      class="track"
      *ngFor="let track of widget.tracks; index as indexTrack"
      [ngStyle]="{color: widget.style.colors.text}"
      [ngClass]="{'active': track.active}"
      (mouseenter)="trackHover($event, track, indexTrack)"
      (mouseleave)="trackLeave($event, track, indexTrack)"
    >
      <div class="click-area" (click)="trackPlay($event, track, indexTrack)"></div>
      <div class="name">{{indexTrack + 1}}. {{track.name}}</div>
      <div class="controls">
        <div class="rights-carousel" *ngIf="track.active">
          <div
            class="rc-control prev"
            *ngIf="track.sliderData.length !== 1"
            (click)="carouselSlide(track, indexTrack, 'prev')"
          >
            <div class="icon"></div>
          </div>
          <div class="rc-rights">
            <div
              class="right"
              *ngFor="let right of track.sliderData ; index as indexRight"
              [ngClass]="{'prev': right.style === 'prev', 'next': right.style === 'next', 'initial': right.style === 'initial'}"
            >
              {{right.right}}<span class="val"> ${{right.price}}</span>
            </div>
          </div>
          <div
            class="rc-control next"
            *ngIf="track.sliderData.length !== 1"
            (click)="carouselSlide(track, indexTrack, 'next')"
          >
            <div class="icon"></div>
          </div>
        </div>

        <div
          class="btn-cart-add"
          *ngIf="track.active || track.hovered"
        ></div>
      </div>
    </div>
  </div>

  <div class="widget-item wi-player-bottom">
    <div class="block-music">
      <div class="ctrls">
        <div class="ctrl prev">
          <span class="line"></span>
          <span class="triangle"></span>
        </div>
        <div
          class="ctrl play"
          [ngClass]="{'pause': !playTrack}"
          (click)="trackPlay()"
        >
          <span
            class="triangle left"
            [ngStyle]="{borderLeftColor: widget.style.colors.active_item}"
          ></span>
          <span
            class="triangle right"
            [ngStyle]="{borderLeftColor: widget.style.colors.active_item}"
          ></span>
        </div>
        <div class="ctrl next">
          <span class="triangle"></span>
          <span class="line"></span>
        </div>
      </div>
      <div class="title">
        <div class="track-name" [ngStyle]="{color: widget.style.colors.text}">{{widget.producer.artistName}} - {{widget.tracks[0].name}}</div>
        <div class="tags">
          <div class="tag" [ngStyle]="{color: widget.style.colors.active_item}">Reggae</div>
          <div class="tag" [ngStyle]="{color: widget.style.colors.active_item}">Roots</div>
        </div>
      </div>
    </div>
    <div class="block-money">
      <div class="payment-types">
        <div class="pt paypal"></div>
        <div class="pt card"></div>
      </div>
      <div class="cart-and-price">
        <div class="price" [ngStyle]="{color: widget.style.colors.text}">
          <span class="val">$999.99</span>
        </div>
        <div class="icon-cart"><span class="count">2</span></div>
      </div>
    </div>
  </div>
</div>
