.modal-wrapper {
  z-index: 99999999;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #00000094;
  display: flex;
  justify-content: center;
  align-items: center;
  .modal {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 3px;
    &.buy-terms {
      .close {
        position: absolute;
        top: 10px;
        right: 10px;
        height: 20px;
        width: 20px;
        cursor: pointer;
        border-radius: 50%;
        span {
          position: absolute;
          display: block;
          width: 16px;
          height: 2px;
          top: 50%;
          left: 50%;
          margin-left: -8px;
          margin-top: -1px;
          background: #95979c;
          border-radius: 1px;
          &:nth-child(1) {
            transform: rotate(45deg);
          }
          &:nth-child(2) {
            transform: rotate(-45deg);
          }
        }
      }
      .title {
        display: flex;
        justify-content: center;
        align-items: center;
        .shield {
          height: 26px;
          width: 5px;
          background: #695FFC;
          border-bottom: 5px solid #524fc4;
        }
        .text {
          margin-left: 7px;
          text-transform: uppercase;
          font: 400 28px/30px 'Work Sans';
          color: #000000;
        }
      }
      .track-name {
        margin-top: 20px;
        font: 500 32px/34px 'Work Sans';
      }
      .payment-types {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        .label {
          font: 500 14px/16px 'Work Sans';
        }
        .pt {
          width: 20px;
          height: 20px;
          margin-left: 10px;
          &.paypal {
            mask-image: url('../../../../assets/icons/paypal.svg');
            mask-size: cover;
            background-color: #695FFC;
          }
          &.card {
            margin-left: 7px;
            mask-image: url('../../../../assets/icons/credit-card.svg');
            mask-size: cover;
            background-color: #695FFC;
          }
        }
      }
      .rights-toggler {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        .rt-buttons {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          .button {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;
            border: 1px solid #e6e6e6;
            border-radius: 3px;
            &:last-child {
              margin-bottom: 0;
            }
            &.active{
              border-color: #695FFC;
              .label {
                border-color: #695FFC;
              }
            }
            .label {
              min-width: 200px;
              padding: 0 15px;
              font: 400 14px/38px 'Work Sans';
              text-transform: uppercase;
              border-right: 1px solid #e6e6e6;
            }
            .price {
              min-width: 100px;
              padding: 0 15px;
              font: 500 14px/38px 'Work Sans';
            }
          }
        }
        .rt-content {
          .content {
            display: none;
            width: 280px;
            margin-left: 20px;
            &.active {
              display: block;
            }
            .label {
              font: 500 16px/18px 'Work Sans';
            }
            .rights {
              margin: 0;
              padding: 0;
              .right {
                position: relative;
                list-style: none;
                margin-top: 12px;
                padding-left: 30px;
                font: 400 14px/16px 'Work Sans';
                color: #787878;
                &:before {
                  position: absolute;
                  display: block;
                  content: '';
                  width: 24px;
                  height: 24px;
                  top: -3px;
                  left: 0;
                  mask-image: url('../../../../assets/icons/done.svg');
                  mask-size: cover;
                  background-color: #695FFC;
                }
              }
            }
          }
        }
      }
      .add2cart {
        cursor: pointer;
        border: none;
        outline: none;
        margin-top: 20px;
        padding: 0 80px;
        background-color: #695ffc;
        border-radius: 3px;
        font: 500 14px/40px 'Work Sans';
        text-transform: uppercase;
        text-align: center;
        color: #fff;
      }
    }
  }
}
