<div class="modal-wrapper">

  <div class="modal buy-terms">
    <div class="close" (click)="modalClose()"><span></span><span></span></div>
    <div class="title">
      <div class="shield"></div>
      <div class="text">{{modalContent.title}}</div>
    </div>
    <div class="payment-types">
      <div class="label">Payment methods:</div>
      <div class="pt paypal"></div>
      <div class="pt card"></div>
    </div>
    <div class="rights-toggler">
      <div class="rt-buttons">
        <div class="button" *ngFor="let right of modalContent.sliderData">
          <div class="label">{{right.right}}</div>
          <div class="price">${{right.price}}.00</div>
        </div>
      </div>
      <div class="rt-content"></div>
    </div>
    <button class="add2cart">Add to cart</button>
  </div>


  <!--FOR OTHER MODAL-->
  <!--<ul class="tips">-->
    <!--<li></li>-->
    <!--<li></li>-->
    <!--<li></li>-->
  <!--</ul>-->
  <!--<form class="form">-->

  <!--</form>-->

</div>
