@import "../../../../assets/styles/colors";

.modal-wrapper {
  z-index: 99999999;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #00000094;
  }
  .modal {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 3px;
    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      height: 20px;
      width: 20px;
      cursor: pointer;
      border-radius: 50%;
      span {
        position: absolute;
        display: block;
        width: 16px;
        height: 2px;
        top: 50%;
        left: 50%;
        margin-left: -8px;
        margin-top: -1px;
        background: #95979c;
        border-radius: 1px;
        &:nth-child(1) {
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          transform: rotate(-45deg);
        }
      }
    }
    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      .shield {
        height: 26px;
        width: 5px;
        border-bottom: 5px solid;
      }
      .text {
        margin-left: 7px;
        text-transform: uppercase;
        font: 400 28px/30px 'Work Sans';
        color: #000000;
      }
    }
    &.buy-terms {
      max-width: 682px;
      .track-name {
        margin-top: 20px;
        font: 500 32px/34px 'Work Sans';
        text-align: center;
      }
      .payment-types {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        .label {
          font: 500 14px/16px 'Work Sans';
        }
        .pt {
          width: 20px;
          height: 20px;
          margin-left: 10px;
          &.paypal {
            mask-image: url('../../../../assets/icons/paypal.svg');
            mask-size: cover;
            background-color: #695FFC;
          }
          &.card {
            margin-left: 7px;
            mask-image: url('../../../../assets/icons/credit-card.svg');
            mask-size: cover;
            background-color: #695FFC;
          }
        }
      }
      .rights-toggler {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        .rt-buttons {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          .button {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;
            border: 1px dashed #e6e6e6;
            border-radius: 3px;
            transition: all .2s ease;
            &:last-child {
              margin-bottom: 0;
            }
            //&:hover {
            //  background-color: #F5F5F5;
            //}
            .label {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              min-width: 150px;
              padding: 0 15px;
              font: 400 14px/38px 'Work Sans';
              text-transform: uppercase;
              //border-right: 1px solid #e6e6e6;
              //border: none;
              //.in-cart-icon {
              //  position: relative;
              //  margin-left: 10px;
              //  width: 14px;
              //  height: 14px;
              //  mask-image: url(../../../../assets/icons/shopping-cart.svg);
              //  background-color: #ffffff;
              //  mask-size: cover;
              //}
            }
            .price {
              min-width: 100px;
              padding: 0 15px;
              font: 500 14px/38px 'Work Sans';
            }
          }
        }
        .rt-content {
          overflow: hidden;
          .content {
            display: none;
            width: 280px;
            margin-left: 20px;
            &.active {
              display: block;
            }
            .label {
              font: 500 16px/18px 'Work Sans';
            }
            .rights {
              margin: 0;
              padding: 0;
              .right {
                position: relative;
                list-style: none;
                margin-top: 12px;
                padding-left: 30px;
                font: 400 14px/16px 'Work Sans';
                color: #787878;
                .marker {
                  position: absolute;
                  display: block;
                  width: 24px;
                  height: 24px;
                  top: -3px;
                  left: 0;
                  mask-image: url('../../../../assets/icons/done.svg');
                  mask-size: cover;
                  background-color: $gray-background-basic;
                }
              }
            }
          }
        }
      }
      .add2cart {
        cursor: pointer;
        border: none;
        outline: none;
        margin-top: 20px;
        padding: 0 80px;
        background-color: $gray-background-basic;
        border-radius: 3px;
        font: 500 14px/40px 'Work Sans';
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        transition: all .2s ease;
      }
    }
    &.cart {
      .cart-content {
        .cart-header {}
        .cart-tracks {
          overflow-y: auto;
          max-height: calc(100vh - 350px);
          width: 420px;
          margin-top: 20px;
          padding-right: 8px;
          margin-right: -8px;
          .track {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            margin-top: 20px;
            border-bottom: 1px solid #E6E6E6;
            &:first-child {
              margin-top: 0;
            }
            .cover {
              border-bottom: none;
              position: relative;
              overflow: hidden;
              width: 88px;
              height: 88px;
              background-color: rgba(105, 95, 252, .3);
              background-image: url('../../../../assets/icons/traktrain_logo.png');
              background-size: 75%;
              background-repeat: no-repeat;
              background-position: 50% 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              img {
                display: block;
                width: auto;
                height: 100%;
              }
              .fade {
                cursor: pointer;
                position: absolute;
                height: 100%;
                width: 100%;
              }
              .btn-delete {
                cursor: pointer;
                position: absolute;
                display: block;
                content: '';
                width: 24px;
                height: 24px;
                top: calc(50% - 12px);
                left: calc(50% - 12px);
                mask-image: url('../../../../assets/icons/trash.svg');
                mask-size: cover;
              }
            }
            .description {
              flex: 1;
              width: 100%;
              overflow: hidden;
              display: flex;
              justify-content: flex-start;
              align-items: flex-start;
              flex-direction: column;
              margin-left: 15px;
              padding-top: 5px;
             .row  {
               display: flex;
               justify-content: flex-start;
               align-items: center;
               width: 100%;
               &:nth-child(2) {
                 margin-top: 5px;
               }
               .track-title {
                 position: relative;
                 width: 100%;
                 height: 16px;
                 margin-right: 20px;
                 span {
                   display: block;
                   position: absolute;
                   width: 100%;
                   font: 400 14px/16px 'Work Sans';
                   white-space: nowrap;
                   text-overflow: ellipsis;
                   overflow: hidden;
                   //animation: 20s linear infinite slide;
                 }
               }
               .sub-title {
                 white-space: nowrap;
                 overflow: hidden;
                 font: 600 14px/16px 'Work Sans';
               }
               .price {
                 flex: 1;
                 text-align: right;
                 font: 400 14px/16px 'Work Sans';
               }
               .sub-price {
                 flex: 1;
                 text-align: right;
                 font: 600 14px/16px 'Work Sans';
               }
             }
            }
          }
        }
        .cart-bottom {
          margin-top: 20px;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          .check-out {
            .total {
              font: 600 14px/16px 'Work Sans';
              text-align: right;
              .val {
                margin-left: 15px;
              }
            }
            .cta {
              cursor: pointer;
              border: none;
              outline: none;
              height: 30px;
              width: 180px;
              margin-top: 10px;
              border-radius: 3px;
              font: 500 12px/16px 'Work Sans';
              &.paypal {
                background-color: rgba(255, 196, 58, 1);
                &:hover {
                  background-color: rgba(255, 196, 58, 0.75);
                }
              }
              &.stripe {
                margin-right: 20px;
              }
            }
          }
        }
      }
      .placeholder {
        margin-top: 30px;
        font: 400 14px/16px 'Work Sans';
      }
    }
  }
}

// iPad
@media (max-width: 768px) {
  .modal-wrapper {
    .modal {
      &.buy-terms {
        max-width: 562px;
        .track-name {
          font-size: 26px;
          line-height: 28px;
        }
        .rights-toggler {
          .rt-buttons {
            .button {
              .label {
                min-width: 140px;
                font-size: 12px;
              }
            }
          }
          .rt-content {
            .content {
              width: 220px;
            }
          }
        }
      }
      &.cart {
        .cart-content {
          .cart-header {}
          .cart-tracks {
            width: 240px;
            .track {
              .cover {
                width: 40px;
                height: 40px;
              }
              .description {
                padding: 0;
                .row {
                  .track-title {
                    height: 14px;
                    span {
                      font-size: 12px;
                      line-height: 14px;
                    }
                  }
                  .sub-title {
                    font-size: 12px;
                    line-height: 14px;
                  }
                  .price {
                    font-size: 12px;
                    line-height: 14px;
                  }
                  .sub-price {
                    font-size: 12px;
                    line-height: 14px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
// extra-point
@media (max-width: 600px) {
  .modal-wrapper {
    .modal {
      padding: 30px;
      overflow: hidden;
      &.buy-terms {
        max-height: 80%;
        max-width: 280px;
        overflow-y: auto;
        .track-name {
          font-size: 16px;
          line-height: 18px;
        }
        .rights-toggler {
          flex-direction: column;
          .rt-buttons {
            .button {
              .label {
              }
            }
          }
          .rt-content {
            .content {
              margin-top: 20px;
              margin-left: 0;
            }
          }
        }
        .add2cart {
          width: 100%;
          padding: 0;
        }
      }
      &.cart {}
    }
  }
}
// iPhone 6/7/8 PLUS
@media (max-width: 414px) {

}
// iPhone 6/7/8
@media (max-width: 375px) {

}
// iPhone 4
@media (max-width: 320px) {

}

@keyframes slide {
  0% {
    left: 0;
  }
  50% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
