.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  .w--wrapper {
    border: 1px solid #E6E6E6;
    overflow: auto;
    .w--topbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 14px;
      border-bottom: 1px solid #E6E6E6;
      .title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .shield {
          height: 19px;
          width: 5px;
        }
        .name {
          margin-left: 7px;
          text-transform: uppercase;
          font: 600 18px/20px 'Work Sans';
          color: #000000;
        }

      }
      .social {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .link {
          margin-left: 20px;
        }
      }
    }

    .w--screen {
      .background {
        height: 296px;
        background: linear-gradient(270deg, rgba(235,100,100,0.5) 0%, rgba(81,144,174,0.5) 100%);
      }
    }

    .w--search {
      position: relative;
      padding: 20px 15px;
      input[type='search'] {
        width: 100%;
        height: 40px;
        border-radius: 2px;
        border: 1px solid #E6E6E6;
        outline: none;
      }
      &:before {
        position: absolute;
        display: block;
        content: '';
        width: 22px;
        height: 22px;
        top: 50%;
        margin-top: -11px;
        left: 20px;
        background: url('../../../assets/icons/search.svg') no-repeat;
      }
    }

    .w--player-list {
      overflow-y: auto;
      min-height: auto;
      max-height: 220px;
      .track {
        padding: 20px 15px;
        font: 600 14px/16px 'Work Sans';
        border-top: 1px solid #E6E6E6;
      }
    }

    .w--player-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid #E6E6E6;
      .ctrls {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 14px;
        .ctrl {
          cursor: pointer;
          &.prev, &.next {
            display: flex;
            justify-content: center;
            align-items: center;
            span {
              display: block;
              transition: all .2s ease;
              &.line {
                width: 3px;
                height: 14px;
                background-color: #b8b8b8;
              }
              &.triangle {
                width: 12px;
                height: 16px;
                margin-left: 2px;
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;
                border-right: 12px solid #b8b8b8;
              }
            }
          }
          &.next {
            span {
              &.line {}
              &.triangle {
                margin-left: 0;
                margin-right: 2px;
                border-left: 12px solid #b8b8b8;
                border-right: 0;
              }
            }
          }
          &.play {
            margin: 0 22px;
            position: relative;
            width: 22px;
            height: 30px;
            .triangle {
              position: absolute;
              display: block;
              transition: all .2s ease;
              &.left {
                width: 20px;
                height: 30px;
                left: 0;
                top: 50%;
                margin-top: -15px;
                border-top: 15px solid transparent;
                border-bottom: 15px solid transparent;
                border-left: 22px solid #b8b8b8;
              }
              &.right {
                width: 6px;
                height: 16px;
                right: 0;
                top: 50%;
                margin-top: -8px;
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;
                border-left: 12px solid #b8b8b8;
              }
            }
            &.pause {
              .triangle {
                &.left {
                  border-top: 0 solid transparent;
                  border-bottom: 0 solid transparent;
                  border-left: 7px solid #b8b8b8;
                }
                &.right {
                  height: 30px;
                  top: 0;
                  margin-top: 0;
                  border-top: 0 solid transparent;
                  border-bottom: 0 solid transparent;
                  border-left: 7px solid #b8b8b8;
                }
              }
            }
          }
        }
      }
      .cart-and-price {}
    }

    .w--cart-and-price {}
  }
}
