<div class="settings-wrapper">
  <div class="row settings">
    <div class="inputs" [formGroup]="settings">
      <div class="inp"
           [ngClass]="{'disabled': settings.controls['autoWidth'].value}"
      >
        <div class="title">
          <span>Width</span>
          <div class="toggler-wrapper">
            <div class="toggler"
                 [ngClass]="{'on': settings.controls['autoWidth'].value, 'off': !settings.controls['autoWidth'].value}"
            >
              <div class="dot"></div>
              <input type="checkbox" formControlName="autoWidth">
            </div>
            <span>Auto</span>
          </div>
        </div>
        <input type="text" formControlName="width"
        >
      </div>

      <div class="inp"
           [ngClass]="{'disabled': settings.controls['autoHeight'].value}"
      >
        <div class="title">
          <span>Height</span>
          <div class="toggler-wrapper">
            <div class="toggler"
                 [ngClass]="{'on': settings.controls['autoHeight'].value, 'off': !settings.controls['autoHeight'].value}"
            >
              <div class="dot"></div>
              <input type="checkbox" formControlName="autoHeight">
            </div>
            <span>Auto</span>
          </div>
        </div>
        <input type="text" formControlName="height"
        >
      </div>

      <div class="inp"
      >
        <div class="title">Background</div>
        <input type="text" formControlName="background"
        >
        <input class="color-picker-input"
               [(colorPicker)]="backgroundColor"
               [style.background]="backgroundColor"
               (colorPickerChange)="backgroundColorChanged(backgroundColor)"
        >
      </div>

      <div class="inp"
      >
        <div class="title">Text</div>
        <input type="text" formControlName="text"
        >
        <input class="color-picker-input"
               [(colorPicker)]="textColor"
               [style.background]="textColor"
               (colorPickerChange)="textColorChanged(textColor)"
        >
      </div>

      <div class="inp"
      >
        <div class="title">Active</div>
        <input type="text" formControlName="active"
        >
        <input class="color-picker-input"
               [(colorPicker)]="activeColor"
               [style.background]="activeColor"
               (colorPickerChange)="activeColorChanged(activeColor)"
        >
      </div>

      <!--<div class="inp"-->
      <!--&gt;-->
        <!--<div class="title">Accent</div>-->
        <!--<input type="text" formControlName="accent"-->
        <!--&gt;-->
      <!--</div>-->
    </div>

    <div class="controls">
      <button class="cta reset"
              (click)="settingsReset()"
      >
        Reset
      </button>
      <button class="cta save"
              (click)="settingsSave()"
      >
        Save
      </button>
    </div>
  </div>

  <div class="row embed-code">
    <div class="title">Embed Code</div>
    <div class="code">{{embedCode}}</div>
  </div>
</div>
