@import "colors";

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  margin: 0;
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

/* custom scroll */
::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-track {
  background: #ffffff;
}
::-webkit-scrollbar-thumb {
  background: #E6E6E6;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: #E6E6E6;
}

.wave-line {
  position: absolute;
  bottom: 0;
  opacity: 1;
  background: linear-gradient(to top,rgba(255,255,255,.9) 0,rgba(255,255,255,.7) 50%,rgba(255,255,255,.6) 51%,rgba(255,255,255,.4) 71%,rgba(255,255,255,.2) 100%);
}
